<template>
<ul>
<li>
 <h2>{{name}}</h2>
 
 <button @click="toggleDetails">Show Details</button>
    <ul v-if="detailsAreVisible">
         <li><strong>EmpId -</strong>{{ empid }}</li>
        <li><strong>Name -</strong>{{ name }}</li>
        <ol>
            <li>Step-{{firstStep}}</li>
            <li>Step-{{secondStep}}</li>
            <li>Step-{{thirdStep}}</li>
        </ol>
        <li>submitted at - {{submittedAt}}</li>
       
    </ul>
</li>
</ul>
</template>

<script>
export default {
   props:['name','empid','firstStep','secondStep','thirdStep','submittedAt'],
    data() {
        return{
          
            detailsAreVisible:false,
        }
    },
    methods:{
        toggleDetails(){
            this.detailsAreVisible = !this.detailsAreVisible;
        }
    }
}
</script>