
<template>
    <li>
        <h2>{{ name }}</h2>
        <button @click="toggleDetails">Show Details</button>
        <ul v-if="detailsAreVisible">
                <li>{{ name }}</li>
                <li><strong>{{ empid }}</strong></li>
                <ul>
                    <li>Step-{{firstStep}}</li>
                    <li>Step-{{secondStep}}</li>
                    <li>Step-{{thirdStep}}</li>
                </ul>
                <li>submitted at - {{submittedAt}}</li>
        </ul>
    </li>
</template>


<script>
export default {
      props:['name','empid','firstStep','secondStep','thirdStep','submittedAt'],
      
      data() {
        return{
            detailsAreVisible:false
        }
      },
      methods:{
       
       toggleDetails(){
           this.detailsAreVisible = !this.detailsAreVisible
       }
        
      }

    
}

</script>