<template>
<section>
    <header>Employees</header>
    <div>
        <user 
        v-for="user in signedUserData"
        :key="user.id"
        :name="user.name"
        :empid="user.id"
        :firstStep="user.firstStep"
        :secondStep="user.secondStep"
        :thirdStep="user.thirdStep"
        :submittedAt="user.submitted">
        </user>

    </div>


    <div v-if="isSignedIn">
       <!-- <employee-card 
        v-for="emp in results"
        :key="emp.id"
        :name="emp.name"
        :empid="emp.id"
        :firstStep="emp.firstStep"
        :secondStep="emp.secondStep"
        :thirdStep="emp.thirdStep"
        :submittedAt="emp.submitted"
        > 
        </employee-card> -->
    </div>
       
      <!-- <button @click="sendData">Send Data</button>
     <button @click="reciveData">ReciveData</button> -->
    
    <div>
     <GoogleLogin :params="params" :renderParams="renderParams" :onSuccess="onSuccess" :onFailure="onFailure"></GoogleLogin>
    </div>
    <div>
       <GoogleLogin :params="params" :logoutButton=true>Logout</GoogleLogin>
    </div>
  
  
</section>

</template>

<script>
import GoogleLogin from 'vue-google-login';

// import EmployeeCard from './components/EmployeeCard.vue';

import User from './components/User.vue';

import json from './Names.json';


 
export default {
    name: 'App',
    components: {
      GoogleLogin,
      User
      // EmployeeCard
    },
  
      data(){
        
        return{

              isSignedIn:false,
              params: {
                  client_id: "751206484911-isa5oug7urvqg9m71l027i9afon7h4mj.apps.googleusercontent.com"
              },
              renderParams: {
                width: 250,
                height: 50,
                longtitle: true
              },
              enteredName:"nagesh",
              chosenRating:"five",
              results :[],
              signedUserData:[],
              temp:[]
      }
    },
    mounted() {
      this.reciveData()
    },
    methods:{

      verifyUser(googleData){
        const User = googleData.getBasicProfile().Ue
        
        for(const x in this.results){
          if(this.results[x].name && this.results[x].name === User){
            
            console.log(`User ${User} exists.`)
            
            this.isSignedIn = true
          }
        }

      },
      onSuccess(googleUser) {
          this.verifyUser(googleUser)
          this.loadUserDataToUi(googleUser)
      },

      onFailure() {
        alert("Error while Loggin In !!");
      },

      //send Data to firebase
      sendData(){
         fetch('https://vue-http-demo-4f4ec-default-rtdb.firebaseio.com/userData.json', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(json),
      });

      },
      storeUserData(data){
        {
          const results = [];
          for (const user in data) {
            const userList = data[user]["Employees"]
            for (const d in userList)
            {
              results.push({
              id: userList[d].empId,
              name: userList[d].name,
              firstStep:userList[d].firstStep,
              secondStep:userList[d].secondStep,
              thirdStep:userList[d].thirdStep,
              submitted:userList[d].submittedAt,
              
            });
            }
          }
          this.results = results;
        }
      },

      loadUserDataToUi(signedUser){

        const Use = signedUser.getBasicProfile().Ue
        
        console.log(Use,"ignore")

        const User = "Shivam Kumar"

        for(const x in this.results){

          if(this.results[x].name && this.results[x].name === User){
            
            this.signedUserData.push({
                  id:this.results[x].id,
                  name:this.results[x].name,
                  firstStep:this.results[x].firstStep,
                  secondStep:this.results[x].secondStep,
                  thirdStep:this.results[x].thirdStep,
                  submitted:this.results[x].submittedAt,
            })

          }
      
        }    
     
      },
      
      //Recive Data from firebase.
      reciveData(){
         fetch('https://vue-http-demo-4f4ec-default-rtdb.firebaseio.com/userData.json')
        .then((response) => {
     
       if (response.ok) {
            return response.json();
          }
        })
        .then((data)=>{
          this.storeUserData(data)
        })
        
      }

}
}
</script>
    









<style>


* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

header {
  box-shadow: 2px  rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #58004d;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#app h2 {
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #58004d;
  margin: 0 0 1rem 0;
}

#app button {
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#app button:hover,
#app button:active {
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
.card{
 
margin: 0;
cursor: pointer;
text-align: center; 


}

</style>